@page
@model AngularModel
@{
}
<!doctype html>
<html lang="en">
<head>
	<title>SplendidCRM</title>
	<meta charset="utf-8" />
	<base href="~/Angular/" />
	<link href="~/App_Themes/Arctic/style.css" rel="stylesheet" type="text/css">
	<link href="~/App_Themes/Arctic/styleModuleHeader.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="~/Angular/dist/js/styles.css">
</head>
<body>
	<app-root></app-root>
	<script src="~/Angular/dist/js/runtime.js"   type="module"></script>
	<script src="~/Angular/dist/js/polyfills.js" type="module"></script>
	<script src="~/Angular/dist/js/scripts.js"   defer></script>
	<script src="~/Angular/dist/js/main.js?@@(bDebug ? (DateTime.Now.ToFileTime().ToString()) : Sql.ToString(Application["SplendidVersion"]))" type="module"></script>

	<div id="divFooterCopyright" align="center" style="margin-top: 4px" class="copyRight">
		Copyright &copy; 2005-2022 <a id="lnkSplendidCRM" href="http://www.splendidcrm.com" target="_blank" class="copyRightLink">SplendidCRM Software, Inc.</a> All Rights Reserved.<br />
	</div>
</body>
</html>
